<%- include('../partials/header') %>
<h1>Admin Dashboard</h1>
<a href="/admin/slides">Manage Slides</a>
<a href="/admin/profile">Manage Profiles</a>
<a href="/admin/about">Manage About</a>
<a href="/admin/team">Manage Teams</a>
<a href="/admin/division">Manage Divisions</a>
<a href="/admin/contact">Manage Contacts</a>
<%- include('../partials/footer') %>
