<div id="about" class="about-area area-padding" translate="yes">
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="section-headline text-center">
                    <h2>PROFIL Verital</h2>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 col-sm-6 col-xs-12">
                <!-- Left content -->
            </div>
            <div class="col-md-6 col-sm-6 col-xs-12" translate="yes">
                <!-- Right content -->
            </div>
        </div>
    </div>
</div>
