<div id="CEO" class="about-area area-padding" translate="yes">
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="section-headline text-center">
                    <h2>MOT DU PDG</h2>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 col-sm-6 col-xs-12">
                <div class="well-left">
                    <div class="single-well">
                        <a href="#CEO">
                            <img src="img/about/4.png" alt="">
                        </a>
                        <center>
                            <p><b>Mr.Mohammed Nabil Hamo</b></p>
                            <p><b> Président Directeur Général </b></p>
                        </center>
                    </div>
                    <div class="image-container">
                        <a href="#home">
                            <img src="img/about/3.png" alt="">
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-sm-6 col-xs-12" translate="yes">
                <div class="well-middle">
                    <div class="single-well">
                        <a href="#">
                            <h4 class="sec-head">MOT DU PDG</h4>
                        </a>
                        <p>
                            VERITAL est de plus en plus sollicité pour contribuer aux débats sur la <b>« sécurité »</b> et <b>« analyse de problèmes potentiels ».</b> J’y vois un signe de changement dans le regard des responsables sur cette entreprise et le début d’une reconnaissance des efforts engagés et des responsabilités courageusement assumées dans ces domaines.
                        </p>
                        <!-- Additional content goes here -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
