<footer>
  <div class="footer-area">
    <div class="container">
      <div class="row">
        <div class="col-md-4 col-sm-4 col-xs-12">
          <div class="footer-content">
            <div class="footer-head">
              <div class="footer-logo">
                <a class="navbar-brand page-scroll sticky-logo" href="#">
                  <img src="/public/img/logo.png" alt="" title="Verital" class="img-fluid">
                </a>
              </div>
              <p>VERITAL, détient un rôle stratégique dans l’expertise Algérienne. Forte de son expérience, VERITAL est en voie de relever le défi, ambitieux certes mais réaliste d’être l’entreprise publique de référence en Algérie dans les domaines de la sécurité, qualité, et sûreté.</p>
              <div class="footer-icons">
                <ul>
                  <li><a href="https://web.facebook.com/verital.officiel"><i class="fa fa-facebook"></i></a></li>
                  <li><a href="https://www.youtube.com/@CommunicationVerital"><i class="fa fa-youtube"></i></a></li>
                  <li><a href="mailto:direction.commerciale@verital.dz"><i class="fa fa-money"></i></a></li>
                  <li><a href="https://www.verital.dz"><i class="fa fa-globe"></i></a></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
        <!-- end single footer -->
        <div class="col-md-4 col-sm-4 col-xs-12">
          <div class="footer-content">
            <div class="footer-head">
              <h4>information</h4>
              <p>pour plus d'informations</p>
              <div class="footer-contacts">
                <p><span>Tel:</span> +213 23 70 17 27</p>
                <p><span>Email:</span> dg@verital.dz</p>
                <p><span>Heures d'ouverture:</span> 8h-16h</p>
              </div>
            </div>
          </div>
        </div>
        <!-- end single footer -->
        <div class="col-md-4 col-sm-4 col-xs-12">
          <div class="footer-content">
            <div class="footer-head">
              <h4>Facebook</h4>
              <div class="flicker-img">
                <a href="https://web.facebook.com/photo/?fbid=428711023_904534151463950_3731252521718504558_n"><img class="footer-image" src="/public/img/f/428711023_904534151463950_3731252521718504558_n.jpg" alt=""></a>
                <a href="https://web.facebook.com/photo/?fbid=429532026_904534388130593_404600344822068039_n"><img class="footer-image" src="/public/img/f/429532026_904534388130593_404600344822068039_n.jpg" alt=""></a>
                <a href="https://web.facebook.com/photo/?fbid=428705684_904534434797255_3724049027745603481_n"><img class="footer-image" src="/public/img/f/428705684_904534434797255_3724049027745603481_n.jpg" alt=""></a>
                <a href="https://web.facebook.com/photo/?fbid=428706987_904145478169484_2777455238918757462_n"><img class="footer-image" src="/public/img/f/428706987_904145478169484_2777455238918757462_n.jpg" alt=""></a>
                <a href="https://web.facebook.com/photo/?fbid=846642007253165&set=pb.100057221209031.-2207520000"><img class="footer-image" src="/public/img/f/404685292_846642687253097_51545038631899646_n.jpg" alt=""></a>
                <a href="https://web.facebook.com/photo/?fbid=846641637253202&set=pb.100057221209031.-2207520000"><img class="footer-image" src="/public/img/f/404783233_846642427253123_6267874654238108114_n.jpg" alt=""></a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="footer-area-bottom">
    <div class="container">
      <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
          <div class="copyright text-center">
            <p>&copy; Copyright <strong>Verital SPA</strong>. All Rights Reserved - 2024</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>
