<!doctype html>
<html lang="fr">
<head>
  <meta charset="utf-8">
  <title><%= locals.title %></title>
  <meta name="description" content="<%= locals.description %>">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  
  <meta content="" name="keywords">
  <meta content="" name="description">
  <meta charset="UTF-8">
  <!-- Favicons -->
  <link href="/public/img/logo-1.png" rel="icon">
  <link href="/public/img/logo-1.png" rel="apple-touch-icon">
  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,400i,600,700|Raleway:300,400,400i,500,500i,700,800,900" rel="stylesheet">
  <link href="/public/lib/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="/public/lib/nivo-slider/css/nivo-slider.css" rel="stylesheet">
  <link href="/public/lib/font-awesome/css/font-awesome.min.css" rel="stylesheet">
  <link href="/public/lib/animate/animate.min.css" rel="stylesheet">
  <link rel="stylesheet" href="/public/lib/venobox/venobox.css" />
  <link href="/public/css/nivo-slider-theme.css" rel="stylesheet">
  <link href="/public/css/style.css" rel="stylesheet">
  <link href="/public/lib/owlcarousel/owl.carousel.css" rel="stylesheet">
  <link href="/public/lib/owlcarousel/owl.transitions.css" rel="stylesheet">
  <link href="/public/css/responsive.css" rel="stylesheet">
  <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css" />

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>

</head>

<body data-spy="scroll" data-target="#navbar-example">
<%- body %>

</body>

</html>
