<!doctype html>
<html lang="fr">
<head>
  <meta charset="utf-8">
  <title><%= locals.title %></title>
  <meta name="description" content="<%= locals.description %>">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  
  <meta content="" name="keywords">
  <meta content="" name="description">
  <meta charset="UTF-8">
  <!-- Favicons -->
  <link href="img/logo-1.png" rel="icon">
  <link href="img/logo-1.png" rel="apple-touch-icon">
  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,400i,600,700|Raleway:300,400,400i,500,500i,700,800,900" rel="stylesheet">
  <link href="lib/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="lib/nivo-slider/css/nivo-slider.css" rel="stylesheet">
  <link href="lib/font-awesome/css/font-awesome.min.css" rel="stylesheet">
  <link href="lib/animate/animate.min.css" rel="stylesheet">
  <link rel="stylesheet" href="lib/venobox/venobox.css" />
  <link href="css/nivo-slider-theme.css" rel="stylesheet">
  <link href="css/style.css" rel="stylesheet">
  <link href="lib/owlcarousel/owl.carousel.css" rel="stylesheet">  
  <link href="lib/owlcarousel/owl.transitions.css" rel="stylesheet">  
  <link href="css/responsive.css" rel="stylesheet">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>

</head>

<body data-spy="scroll" data-target="#navbar-example">
<%- body %>
</body>

</html>
