<!-- d.ejs -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>All Divisions</title>
</head>
<body>
    <nav>
        <h2>Divisions</h2>
        <ul>
            <% divisions.forEach(division => { %>
                <li><a href="/Division/<%= division.name %>"><%= division.name %></a></li>
            <% }); %>
        </ul>
    </nav>
</body>
</html>
