<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Login Page</title>
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/fontawesome.css">
<link href="/public/css/login.css" rel="stylesheet">


<!-- Container for centering the login screen -->
<div class="container">
	<div class="screen">
		<div class="screen__content">
			<form class="login" action="/auth/login" method="POST">
				<div class="login__field">
					<i class="login__icon fas fa-user"></i>
					<input type="text" class="login__input" name="username" placeholder="User name ">
                    
				</div>
				<div class="login__field">
					<i class="login__icon fas fa-lock"></i>
					<input type="password" class="login__input" name="password" placeholder="Password">
				</div>
				<button class="button login__submit" type="submit">
					<span class="button__text">Log In Now</span>
					<i class="button__icon fas fa-chevron-right"></i>
				</button>				
			</form>
			<div class="social-login">
				<h5>log in via</h5>
				<div class="social-icons">
					<a href="/auth/instagram" class="social-login__icon fab fa-instagram"></a>
					<a href="/auth/facebook" class="social-login__icon fab fa-facebook"></a>
					<a href="/auth/twitter" class="social-login__icon fab fa-twitter"></a>
				</div>
                <p class="register-link">Ask for a login access if you're not registered.</p>
			</div>
		</div>
		<div class="screen__background">
			<span class="screen__background__shape screen__background__shape4"></span>
			<span class="screen__background__shape screen__background__shape3"></span>		
			<span class="screen__background__shape screen__background__shape2"></span>
			<span class="screen__background__shape screen__background__shape1"></span>
		</div>	
        
	</div>
</div>

<!-- JavaScript for social login redirection -->
<script>
document.querySelector('.social-login__icon.fab.fa-facebook').addEventListener('click', function() {
  window.location.href = 'https://www.facebook.com/login';
});

document.querySelector('.social-login__icon.fab.fa-twitter').addEventListener('click', function() {
  window.location.href = 'https://www.twitter.com/login';
});

document.querySelector('.social-login__icon.fab.fa-instagram').addEventListener('click', function() {
  window.location.href = 'https://www.instagram.com/accounts/login';
});
</script>
</body>
</html>
